.App {
  text-align: center;
  margin: 0 auto;
  padding: 20px;
}
.product-container{
  display: flex;
justify-content: space-evenly;
flex-wrap: wrap;
gap:20px
}
input[type='text']{
  width:90% ;
  padding:10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 20px;
}
.product{
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  width: 500px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
} 
.product img{
  max-width: 100px;
  max-height: 100px;
  margin-bottom: 5px;
}

